@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,500;1,600&family=Rubik:wght@400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,500;1,600&family=Rubik:wght@400;500&display=swap");

:root {
  --primary: #066a4c;
  --secondary: gray;
  --large: 2rem;
  --medium: 2rem;
  --small: 1.1rem;
  --xsmall: 0.8rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-family: "Manrope", sans-serif;
  /* line-height: 1.5; */
}

p {
  color: var(--secondary);
  font-size: var(--small);
}

.icons img:nth-child(1) {
  position: absolute;
  left: 10%;
  top: 6%
}

.icons img:nth-child(2) {
  position: absolute;
  left: 40%;
  top: 7%
}

.icons img:nth-child(3) {
  position: absolute;
  right: 10%;
  top: 5%
}

.icons img:nth-child(4) {
  position: absolute;
  left: 3%;
  bottom: 10%;
}

.icons img:nth-child(5) {
  position: absolute;
  left: 30%;
  top: 10%;
}

.icons img:nth-child(6) {
  position: absolute;
  left: 40%;
  top: 10%;
}


.hero-section-container {
  width: 100%;
  height: 100vh;
  background-image: url("assets/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* styling the background banner of the section starts here */


.hero-section-box-of-content {
  max-width: 1400px;
  width: 85%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* styling the background banner of the section ends here */



.contents-hero-section {
  width: 50%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1.2rem;
  margin-top: 10rem;
}

.hero-section-container .badge {
  background: #ffe7bb;
  display: inline;
  padding: 5px 10px;
  font-size: 12px;
}

.contents-hero-section P a,
.contents-hero-section P {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: left;
  color: var(--primary);
  text-decoration: none;

}

.coming-soon-text {
  color: #024430;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
}

#countdown {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-weight: 800;
}

#countdown .box {
  background: #e0f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

#countdown .box span {
  font-size: 1.3rem;
  padding: 0.5rem;
  color: var(--primary);
}

#countdown p {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.contents-hero-section .social-icons {
  margin-block: 1rem;
  display: flex;
  gap: 0.6rem;
}

.contents-hero-section .social-icons img {
  width: 20px;
  height: 20px;
}

.box-of-poweredBy {}

.caption {
  width: auto;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0em;
  color: var(--primary);
  text-decoration: none;
  position: absolute;
  top: 85%;
  left: 7%;
  z-index: 1000;
}







.hero-image-container {
  width: 50%;
  height: 60vh;
  margin-top: 10rem;
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
}

.hero-image {
  width: 362px;
  height: 316px;
}

@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(10deg);
  }

  50% {
    -webkit-transform: rotate(-5deg);
  }

  100% {
    -webkit-transform: rotate(10deg);
  }
}

.swingimage {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite;
}


@media (min-width: 1920px) {
  .icons img:nth-child(1) {
    left: 10%;
    top: 6%
  }

  .icons img:nth-child(2) {
    left: 28%;
    top: 14%;
  }

  .icons img:nth-child(3) {
    right: 18%;
    top: 6%;
  }

  .icons img:nth-child(4) {
    left: 3%;
    bottom: 10%;
  }

  .icons img:nth-child(5) {
    left: 50%;
    top: 20%;
  }

  .icons img:nth-child(6) {
    left: 90%;
    top: 50%;
  }
}



@media (max-width: 1920px) {
  .hero-section-box-of-content {
    width: 80%;
  }

  .icons img:nth-child(1) {
    left: 10%;
    top: 6%;
  }

  .icons img:nth-child(2) {
    left: 28%;
    top: 10%;
  }

  .icons img:nth-child(3) {
    right: 18%;
    top: 6%;
  }

  .icons img:nth-child(4) {
    left: 3%;
    bottom: 10%;
  }

  .icons img:nth-child(5) {
    left: 50%;
    top: 20%;
  }

  .icons img:nth-child(6) {
    left: 90%;
    top: 50%;
  }

}


@media (max-width: 1400px) {
  .hero-section-box-of-content {
    width: 85%;
  }

}

@media (max-width: 1200px) {
  .hero-section-box-of-content {
    width: 90%;
  }
}


@media (max-width: 992px) {
  .hero-section-box-of-content {
    width: 95%;
  }

  .coming-soon-text {
    font-size: 44px;
  }
}

@media (max-width: 768px) {
  .hero-section-box-of-content {
    width: 90%;
  }

  .contents-hero-section {
    width: 80%;
  }

  .coming-soon-text {
    font-size: 64px;
  }

  .hero-image-container {
    display: none;
  }
}


@media (max-width: 576px) {
  .hero-section-container {
    width: 100%;
  }

  .contents-hero-section {
    width: 100%;
  }

  .coming-soon-text {
    font-size: 38px;
    line-height: 40px;
  }

  .icons img:nth-child(1) {
    left: 10%;
    top: 12%;
    width: 50px;
    height: 50px;
  }

  .icons img:nth-child(2) {
    left: 48%;
    top: 16%;
    width: 50px;
    height: 50px;
  }

  .icons img:nth-child(3) {
    right: 18%;
    top: 6%;
    width: 50px;
    height: 50px;

  }

  .icons img:nth-child(4) {
    left: 5%;
    bottom: 20%;
    width: 50px;
    height: 50px;

  }

  .icons img:nth-child(5) {
    left: 60%;
    top: 65%;
    width: 50px;
    height: 50px;
  }

  .icons img:nth-child(6) {
    left: 70%;
    top: 40%;
    width: 50px;
    height: 50px;
  }
}